{%extends "base.html"%}
{% block title %}
    About page
{% endblock %}
{% block content %}
<h1>About me</h1>
<p>Vốn là một lập trình viên, nhưng cuộc sống xô đẩy qua Nhật kiếm sống.</p>
<p>Cứ nghĩ sẽ đóng phim, với nghệ danh "code đủ thứ" nhưng lại một nữa quay lại nghề lập trình. Thi thoảng anh em ở Việt Nam vẫn hỏi sắp ra phim chưa?</p>
<p>Sau khi thử nhiều ngôn ngữ lập trình..., cũng như platform. Tôi quyết định gắn bó với lập trình web.</p>
<p>Trang web này tôi tạo ra nhằm viết đủ thứ mà bản thân đã nghe, trải nghiệm qua ở Nhật cũng như ở Việt Nam.</p>
<p>Vì vậy sẽ không forcus vào chủ đề nào cả.</p>
<p>Cảm ơn các bạn đã đọc đến đây.</p>
{% endblock %}