{%extends "base.html"%}
{% block title %}
Home page
{% endblock %}
{% block content %}
<h1>Post by {{view.kwargs.username}} ({{page_obj.paginator.count}})</h1>
{% for post in posts %}
<img class="rounded-circle article" src="{{post.author.profile.image.url}}" alt="">
<h2><a href="{% url 'blog:post-detail' post.id %}">{{post.title}}</a></h2>
<p>{{post.content}}</p>
<a href="{% url 'blog:user-posts' post.author.username %} "> Post by {{post.author}}</a>
<p>Post at {{post.date_posted|date:"F d, Y"}}</p>
{% endfor %}
{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a clas='btn btn-outline-info' href="?page=1">First</a>
        <a clas='btn btn-outline-info' href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a clas='btn btn-info' href="?page={{num}}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a clas='btn btn-outline-info' href="?page={{num}}">{{num}}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a clas='btn btn-outline-info' href="?page={{page_obj.next_page_number}}">Next</a>
        <a clas='btn btn-outline-info' href="?page={{page_obj.paginator.num_pages}}">Previous</a>
    {% endif %}
{% endif %}
{% endblock %}